* {
    font-family: 'Roboto', sans-serif;
    /* Restablecer valores del navegador: */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colores */
    --black: #000000;
    --white: #FFFFFF;
    --magenta: #9A3399;
    --blue: #2940AB;
    --green: #1BD760;
    --light-gray: #EFEFEF;

    /* Font-weight */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

/********** INDEX - HOME ****************/

/* NAVIGATION BAR */

header {
    width: auto;
    height: 80px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

.navbar-container {
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    color: var(--white);
    font-weight: var(--bold);
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.navbar-container__items {
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar-container__items a {
    text-decoration: none;
    color: var(--white);
}

.navbar-container__items a:hover {
    color: var(--green);
}

/* MAIN */

main {
    height: auto;
    width: auto;
    background-color: var(--magenta);
    display: flex;
    justify-content: center;
}

.promo-container {
    height: 640px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 0 20px 0 20px;
}

.promo-container__description {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.promo-container__description--name {
    font-size: 1.4rem;
    font-weight: var(--medium);
}

.promo-container__description h1 {
    font-size: 4rem;
    font-weight: var(--bold);
    line-height: 4rem;
    letter-spacing: .1rem;
}

.promo-container__description--text {
    font-size: 2.4rem;
    font-weight: var(--medium);
    line-height: 3.6rem;
}

.promo-container__description button {
    height: 48px;
    width: 225px;
    background-color: var(--black);
    border: none;
    border-radius: 40px;
}

.promo-container__description button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--black);
}

.promo-container__description button a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: var(--bold);
    color: var(--white);
}

.promo-container__description--aux {
    font-size: 1.2rem;
    font-weight: var(--light);
    line-height: 1.2rem;
}

.promo-container__description--aux span {
    text-decoration: underline;
}

/* SECTION FREE */

.free-container {
    width: auto;
    height: 632px;
    background-color: var(--blue);
    background-image: url(./assets/circles_desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--green);
}

.free-container__description {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    padding: 100px 20px 0 20px;
}

.free-container__description span {
    font-size: 1.4rem;
    font-weight: var(--light);
}

.free-container__description h1 {
    font-size: 4rem;
    font-weight: var(--bold);
    line-height: 4rem;
    letter-spacing: .1rem;
}

.free-container__description p {
    font-size: 2.4rem;
    font-weight: var(--medium);
    line-height: 3.6rem;
}

.free-container__description button {
    height: 48px;
    width: 225px;
    background-color: var(--green);
    border: none;
    border-radius: 40px;
}

.free-container__description button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--green);
}

.free-container__description button a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: var(--bold);
    color: var(--blue);
}

/* FOOTER */

footer {
    height: 530px;
    width: auto;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 80px 0 50px 0;
}

.footer-container {
    height: 400px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.footer-container__card {
    height: 346px;
    width: 195px;
    padding: 0 15px 0 15px;
    line-height: 42px;
}

.footer-container__card span {
    font-size: 1.2rem;
    font-weight: var(--bold);
    color: #919496;
    letter-spacing: .1rem;
}

.footer-container__card li {
    font-size: 1.6rem;
    font-weight: var(--medium);
    letter-spacing: .1rem;
    list-style: none;
}

.footer-container__card li:hover {
    cursor: pointer;
    color: var(--green);
}

.footer-container__card--circle {
    height: 54px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222326;
    border-radius: 50%;
}

.footer-container__card--images {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0 170px;
    padding: 0;
}

.footer-container__card--images img {
    height: 30px;
    width: 30px;
    background-color: var(--white);
}

.footer-container__country {
    height: 15px;
    width: 1200px;
    margin: 0 15px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: #919496;
}

.footer-container__country img {
    margin: 0 8px 0 0;
}

.footer-container__copyright {
    height: 39px;
    width: 1200px;
    margin: 0 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #919496;
    font-size: 12px;
}

.footer-container__copyright--list {
    width: 540px;
    padding: 0 0 0 15px;
}

.footer-container__copyright--list li:hover {
    cursor: pointer;
    color: var(--green);
}

.footer-container__copyright ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/******************* PREMIUM ***********************/
/******************** PAGE *************************/

/************** PREMIUM SECTION******************/
.offer-container {
    height: 566px;
    width: 1200px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-container__items {
    height: auto;
    width: 750px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.offer-container__items h1 {
    font-size: 4rem;
    font-weight: var(--bold);
    letter-spacing: .1rem;
}

.offer-container__items p {
    font-size: 2.4rem;
    font-weight: var(--regular);
    line-height: 36px;
}

.offer-container__buttons {
    width: 370px;
    display: flex;
    justify-content: space-between;
}

.offer-container__buttons--black {
    height: 48px;
    width: 225px;
    background-color: var(--black);
    border: none;
    border-radius: 40px;
}

.offer-container__buttons--black:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--black);
}

.offer-container__buttons--black a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: var(--bold);
    color: var(--white);
}

.offer-container__buttons--white {
    height: 48px;
    width: 132px;
    background-color: var(--magenta);
    border-style: solid;
    border-color: var(--white);
    border-radius: 40px;
}

.offer-container__buttons--white:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--magenta);
}

.offer-container__buttons--white a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: var(--bold);
    color: var(--white);
}

.offer-container__items p:nth-last-child(1) {
    font-size: 1.2rem;
    font-weight: var(--light);
    line-height: 12px;
}

/******************** BENEFITS SECTION ********************/

.benefits {
    height: 574px;
    width: auto;
    background-color: var(--white);
    display: flex;
    align-items: center;
}

.benefits-container {
    height: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.benefits-container__title {
    font-size: 4rem;
    font-weight: var(--bold);
}

.benefits-container__items {
    display: flex;
    list-style: none;
}

.benefits-container__items--card {
    height: 285px;
    width: 285px;
}

.benefits-container__items--image {
    height: 142px;
    width: 142px;
    margin: 0 70px 40px 70px;
}

.benefits-container__items--bold {
    font-size: 2.1rem;
    font-weight: var(--bold);
    line-height: 2.7rem;
    text-align: center;
}

.benefits-container__items--small {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    margin: 15px 0;
}

/******************** PLANS SECTION ********************/

.plans {
    height: 987px;
    width: auto;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.plans-container__title {
    margin: 0 0 10px 0;
    font-size: 4rem;
    font-weight: var(--bold);
    text-align: center;
}

.plans-container__description {
    margin: 0 0 40px 0;
    font-size: 1.6rem;
    font-weight: var(--medium);
    text-align: center;
}

.plans-container__cards {
    display: flex;
}

.plans-container__cards--card {
    width: 237px;
    height: 728px;
    margin: 0 10px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #D6D6D6;
}

.plans-container__cards--card #top {
    width: 237px;
    height: 180px;
    padding: 16px;
}

.plans-container__cards--card #top div {
    height: 18px;
    width: 100px;
    background-color: #2E77D0;
    text-align: center;
    border-radius: 4px;
}

.plans-container__cards--card #top div span {
    font-size: 1.4rem;
    font-weight: var(--bold);
    color: var(--white);
}

.plans-container__cards--card #top h3 {
    font-size: 2.4rem;
    font-weight: var(--bold);
    line-height: 3.4rem;
}

.plans-container__cards--card #top p {
    font-size: 1.6rem;
    font-weight: var(--medium);
    line-height: 2.2rem;
}

.plans-container__cards--card hr {
    width: 200px;
    margin: 0 auto;
}

.plans-container__cards--card #middle {
    width: 237px;
    height: 335px;
    padding: 16px;
}

.plans-container__cards--card #middle li {
    margin: 12px 0px;
    display: flex;
    font-size: 1.6rem;
    font-weight: var(--medium);
    line-height: 2.2rem;
    list-style: none;
}

.plans-container__cards--card #middle #offer {
    background-color: #AF2896;
    color: var(--white);
    border-radius: 5px;
}

.plans-container__cards--card #middle #check-white {
    width: 25px;
    height: 25px;
}

.plans-container__cards--card #middle li div {
    padding: 0px 10px 0px 0px;
}

.plans-container__cards--card #button {
    height: 48px;
    width: 237px;
    display: flex;
    justify-content: center;
}

.plans-container__cards--card button {
    height: 48px;
    width: 200px;
    background-color: var(--black);
    border: none;
    border-radius: 40px;
}

.plans-container__cards--card button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--black);
}

.plans-container__cards--card button a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: var(--bold);
    color: var(--white);
}

.plans-container__cards--card #bottom {
    height: 163px;
    width: 237px;
    padding: 16px;
}

.plans-container__cards--card #bottom p {
    font-size: 1rem;
    font-weight: var(--light);
    text-align: justify;
}

.plans-container__cards--card #bottom p span {
    text-decoration: underline;
}

/******************** AYUDA *************************/
/******************** PAGE *************************/

/**************** SEARCH SECTION ******************/

.help {
    height: 566px;
    width: auto;
    background-image: url(/assets/burbles_help.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search-help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px 0;
}

.search-help__title {
    width: 700px;
}

.search-help__title h1 {
    font-size: 6.4rem;
    font-weight: var(--bold);
    text-align: center;
    color: var(--white);
    line-height: 7rem;
}

.search-help__input input {
    height: 52px;
    width: 744px;
    background: url(/assets/search_icon.svg) no-repeat;
    background-color: var(--white);
    background-position: calc(15px);
    padding-left: 50px;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0 0 0 .2rem gray;
}

.search-help__input input:hover {
    border-style: none;
    border-radius: 4px;
    box-shadow: none;
}

.search-help__quick-access {
    display: flex;
}

.search-help__quick-access div {
    width: 260px;
    text-align: center;
}

.search-help__quick-access div span {
    font-size: 1.2rem;
    font-weight: var(--medium);
    color: #d9d9d9;
}

.search-help__quick-access div p {
    font-size: 1.8rem;
    font-weight: var(--medium);
    line-height: 2.7rem;
    color: var(--white);
}

/**************** SEARCH LIST SECTION ******************/

.search-list {
    height: 710px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.search-list-container {
    display: grid;
    grid-template-columns: 325px 325px 325px;
    gap: 20px;
}

.search-list-container__block h3 {
    font-size: 2.4rem;
    font-weight: var(--bold);
    line-height: 6.4rem;
}

.search-list-container__block ul li {
    font-size: 1.8rem;
    font-weight: var(--bold);
    line-height: 35px;
    color: #127A37;
    list-style: none;
}

.search-list-container__block ul li:hover {
    cursor: pointer;
}

/**************** COMMUNITY SECTION ******************/

.community {
    height: 370px;
    width: auto;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.community section {
    height: auto;
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px 0px;
}

.community section h2 {
    font-size: 4.8rem;
    font-weight: var(--bold);
}

.community section p {
    font-size: 1.8rem;
    font-weight: var(--medium);
    text-align: center;
    line-height: 2.4rem;
}

.community section button {
    height: 48px;
    width: 225px;
    background-color: var(--green);
    border: none;
    border-radius: 40px;
}

.community section button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--green);
}

.community section button a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: var(--bold);
    color: var(--black);
}

/******************** DESCARGAR *************************/
/******************** PAGE *****************************/

/**************** DOWNLOAD SECTION ******************/

.download {
    height: 524px;
    width: auto;
    background-color: #19E68C;
    display: flex;
    align-items: center;
}

.download-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.download-container__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-container__image--laptop {
    height: 80px;
    width: 136px;
}

.download-container__image--circle {
    height: 34px;
    width: 34px;
    position: absolute;
}

.download-container__image--check {
    height: 9px;
    width: 11px;
    position: absolute;
}

.download-container__title {
    font-size: 4.8rem;
    font-weight: var(--bold);
}

.download-container__description {
    font-size: 1.6rem;
    font-weight: var(--bold);
}

.download-container__button {
    height: 48px;
    width: 131px;
    background-color: var(--white);
    border: none;
    border-radius: 40px;
}

.download-container__button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--white);
}

.download-container__button a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: var(--bold);
    color: var(--black);
}

/**************** LINKS SECTION ******************/

.links {
    height: 309px;
    width: auto;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px 0;
}

.links-container__title {
    font-size: 3.2rem;
    font-weight: var(--bold);
}

.links-container__description {
    font-size: 1.6rem;
    font-weight: var(--medium);
}

.links-container__images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
}

.links-container__images--google {
    height: 57px;
    width: 147px;
}

.links-container__images:hover {
    cursor: pointer;
}

/**************** DEVICES SECTION ******************/

.devices {
    height: 450px;
    width: auto;
    background-color: #222326;
    display: flex;
    justify-content: center;
    align-items: center;
}

.devices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px 0;
}

.devices-container__image img{
    height: 173px;
    width: 480px;
}

.devices-container__title {
    font-size: 3.2rem;
    font-weight: var(--bold);
    color: var(--white);
}

.devices-container__list {
    list-style: none;
    display: flex;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: var(--medium);
}

.devices-container__list--green {
    color: #1DB954;
    /* text-decoration: underline; */
}

.devices-container__list--green:hover {
    cursor: pointer;
    color: #1DD760;
}

.devices-container__list--color::after {
    font-size: 2.2rem;
    content: '•';
    color: #1DB954;
    padding-left: 14px;
    padding-right: 14px;
}

.devices-container__list--none::after {
    content: '';
    font-size: 2.2rem;
}

/******************** REGISTRARSE *************************/
/******************** PAGE *****************************/

.register {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.register__image {
    height: 40px;
    width: 130px;
}

.register__title {
    font-size: 3.2rem;
    font-weight: var(--bold);
}

.register__options {
    display: flex;
    flex-direction: column;
}

.register__options__blue-button {
    height: 45px;
    width: 395px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    background-color: #384F81;
    border: none;
    border-radius: 40px;
}

.register__options__blue-button img {
    width: 24px;
    height: 24px;
    /* background-color: white; */
}

.register__options__blue-button a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: var(--bold);
    color: var(--white);
}

.register__options__blue-button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #384F81;
}
